<div
  style='background: #ecf0f1;padding: 3rem;display:flex;justify-content:center; flex-direction: column;  font-family: Roboto, "Helvetica Neue", sans-serif;'
>
  <div style='background:#ffffff;border-radius:10px;margin:0 auto;'>
    <div
      style='background-color: #222B45; text-align: center; padding: 1rem; box-sizing: border-box; border-radius: 10px 10px 0 0;'
    >
      <p
        style='color: #0050FF; 
  font-weight: 700; font-size: 2rem; margin:1rem;'
      >AÑAKI</p>
    </div>

  </div>
</div>