<html lang='es'></html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Recuperar cuenta</title>
    <style>
      .wrapper { margin: 0; padding: 0; font-family: arial, helvetica,
      sans-serif; background-color: #f1f1f1; font-size: 14px; color: #313131;
      min-width: 300px; } .container { margin: 0 auto; max-width: 600px;
      padding-bottom: 2rem; } .header { padding: 50px 0px; width: 100%;
      text-align: center; } .header a { text-align: center; text-decoration:
      none; display: inline-block; } .header a img { max-width: 100px; height:
      auto; display: block; margin: 0px; } .content { background-color: #ffffff;
      padding: 30px; } .saludos { line-height: 24px; background-color: #ffffff;
      box-sizing: border-box; margin: 0; padding: 20px; border-radius: 8px;}
      .content-header { text-align: center; line-height: 24px; }
      .content-header-p1 { font-size: 18px; font-weight: bold; }
      .content-header-p2 { margin: 0px; } .content-header-p3 { font-size: 24px;
      line-height: 30px; font-weight: 700; } .content-item-header { color:
      #b2b2b2; line-height: 21px; padding: 5px 0; font-weight: 700; } .footer {
      text-align: center; padding: 25px 0; color: #b2b2b2; font-size: 11px; }
      .footer p { margin: 0; } .footer a { color: #b2b2b2; text-decoration:
      underline; } .container-button{width: 100%; display: flex; }
      .container-button a{background: #0050FF; text-align: center; color:
      #ffffff; padding: 0.5rem 1rem; border-radius: 10px; font-weight: bold;
      font-size: 1rem; text-decoration:none; margin: auto;}
    </style>
  </head>
  <body>
    <div class='wrapper'>
      <div class='container'>
        <div class='header'>
          <a href='#' target='_blank'>
            <img src='{{logoUrl}}' alt='TS AURA' />
          </a>
        </div>
        <div class='saludos'>
          <p>Estimado/a {{name}}:</p>
          <p>
            Recibimos una solicitud para restablecer la contraseña de tu cuenta
            en
            <strong>Añaki</strong>. Si realizaste esta solicitud, simplemente
            haz clic en el botón a continuación para continuar:
          </p>

          <div class='container-button'>
            <a href='{{link}}'>Restablecer cuenta</a>
          </div>
          <p>
            Si no solicitaste restablecer tu contraseña, puedes ignorar este
            mensaje con tranquilidad. No se realizarán cambios en tu cuenta.
          </p>

          <p>Gracias por confiar en <strong>Añaki</strong>.</p>
          <p>
            Saludos,<br />
            El equipo de Añaki
          </p>
        </div>
        <div class='footer'>
          <p>Este correo electrónico no es monitoreado. Por favor, no respondas
            a este mensaje.</p>
        </div>
      </div>
    </div>
  </body>
</html>